<!doctype html>
<html lang="pt-br">
  <head>
    <title>Meu Site</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../images/favicon-logomarca-webgrad-designer.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg_orange_2">
        <div class="container">     
        <a class="navbar-brand" href="../layout/index.html">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../layout/index.html">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="usuarios.html">Usuários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="posts.html">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="perfil.html">Perfil</a>
            </li>            
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-success" href="login.html">Logof <i class="fas fa-sign-out-alt"></i></a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
     <!-- COMEÇO CONTEUDO AQUI -->
    <div class="container my-4">
      <h1 class="admin_title my-5">Editar Usuário</h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form action="usuarios.html" method="get">
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="name" value="Nome completo">
            </div>
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="email" value="Melhor E-mail">
            </div>
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="site" value="www.meusite.com.br">
            </div>
            <div class="form-row mb-4">
              <div class="col">
                <input type="text" name="whatsapp" class="form-control form-control-lg" value="Whatsapp">
              </div>
              <div class="col">
                <input type="text" name="celular" class="form-control form-control-lg" value="Celular">
              </div>
            </div>
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="facebook" value="facebook.com/meuusuario">
            </div>
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="twitter" value="@meutwitter">
            </div>
            <div class="form-group">              
              <input type="text" class="form-control form-control-lg" name="github" value="github.com/meuusuario">
            </div>
            <button type="submit" class="btn btn-lg btn_orange_1 btn-block mt-4">Editar Usuário</button>            
          </form> 
        </div>
      </div>
    </div>
     <!-- FIM CONTEUDO AQUI -->
    <footer class="bg_orange_2 pt-4 pb-2">
      <div class="container">
        <div class="row">
          <p>2020 &copy; Painel ADM - Todos os direitos reservados</p>
        </div>
      </div>      
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>